# sbt
.bsp/
.metals/
.sbt/
.sbt_checksums
bin/
lib_managed/
project/project/
project/target/
target/
*.class
*.log

# IntelliJ IDEA
.idea/
.idea_modules/
.idea_workspace.xml
*.iml
*.iws
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
bin/

# Bloop
.bloop/

# Scala Native
.scala-native/

# Scala.js
.scala-js/